body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    position: absolute;
    left: 10px;
    top: 10px;
    img{     
        height: 100px;
        
    }
    
}
.home-container{
    min-height: 100vh;
    display: flex;
    background-color: #050710;
}
.text{
    
    color: white;
}
.content{
    margin: 50px 30px 30px 30px;
    display: flex;
    align-items: center;
    text-align: center;
    flex:1;
}
.bg{
    background-image: url(../../Images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
    flex: 1;
}
.text{
    margin-bottom: 20px !important;
}
.get-started{
    border-radius: 50px !important;
    padding: 25px 70px 25px 70px !important;
    background-color: #ffffff !important;
}
.home-button-container{
    padding-top: 50px;
}
@media screen and (max-width: 842px) {
    .home-container{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url(../../Images/wallpaper.jpg);
        background-repeat: no-repeat;
        background-size: cover;      
        flex: 1;

    }
    .content{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .bg{
        background-image: url(../../Images/wallpaper.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0%;
        flex: 1;
    }
}

@media screen and (max-width: 658px) {
    .get-started{
        padding: 20px 50px 20px 50px !important;
    }
}
