body{
    margin: 0;
    padding: 0;
}
.home-container{
    height: 100vh;
    display: flex;
    background-color: black;
}
.text{
    
    color: white;
}
.content{
    margin: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    flex:1;
}
.bg{
    background-image: url(../../Images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
    flex: 1;
}
.text{
    margin-bottom: 20px !important;
}
.get-started{
    border-radius: 50px !important;
    padding: 15px 30px 15px 30px !important;
}